// .wrapper {
//     max-width: 700px;
//     border: 1px solid white;
//     border-radius: 10px;

//     .container {
//         width: 100%;
//         padding: 20px;
//         display: flex;
//     }
// }

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    background-color: #212327;
    border-radius: 10px;
    padding: 10px;

    &.white {
        background-color: rgb(157, 204, 250);
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .shareInfo {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .shareIcon {
        display: flex;
        align-items: center;
    }
}
