.title {
    white-space: nowrap; 
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-weight: bold;

    @media (max-width:1660px) {
        white-space: normal;
    }
}

.avatar {
    
    @media (max-width:1660px) {
        display: none !important;
    }
}

.source {
    opacity: 0.7;
}