.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  column-gap: 50px;

  @media (max-width: 650px) {
    grid-template-columns: 1fr;
  }

  .news {
    
    @media (max-width: 650px) {
    }
  }

  .coins {

  }
}

